@{
    ViewData["Title"] = "All Products";
}

<div class="text-center">
    <h1 class="display-4">All Products</h1>
    <p>List of Products</p>

    <ul>
        <li style="list-style-type:none">Product 1</li>
        <li style="list-style-type:none">Product 2</li>
        <li style="list-style-type:none">Product 3</li>
    </ul>
</div>
