@{
    ViewData["Title"] = "All Products";
}

@model List<MVCIntroDemo.Controllers.ProductController.ProductViewModel>

<div class="text-center">
    <h1 class="display-4">All Products</h1>
    <p>List of Products</p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Qty</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Qty</td>
            </tr>
        }
    </table>
</div>
